<!DOCTYPE html>
<html lang="en">
 <head>
    <title>header & footer</title>
	<style>
	<body >
	}
	header{
		border : 0px solid; 
		
		text-align : right;
		padding-right : 20px;
		color : white;
		height : 100px;
	}
	footer{
		border : 0px solid;
		position:absolute;
		bottom:0;
		width:97%;
		height:70px;
		
		text-align : right;
		padding-right : 20px;
	}
	img{
		width : 500px;
		padding-left : 40px;
	}
	section {
		bottom : 200px;
		text-align : left; 
		position : absolute;
		border : 0px solid;
		padding-left : 770px;
		height : 200px;

	}
	p{
		color : black;
	}
	figcaption{
		color :black;
	}
	</style>
 </head>
 <body>
   	<header>
	 <h1> BOOKS </h1>
	 <p> This book is at the time of 2015</p>
	 </header>
   <figure>
  	<img src=""C:\Users\LOVE YOU SVCN\Desktop\logo.jpg" alt="sonata logo">
	<figcaption>sample_one</figcaption>
  </figure>
  <section>
		<p>Sonata is a global technology company specialising in platform-based <br>digital transformation, supporting businesses to become connected, <br>open, intelligent and scalable. <br>Sonata’s Platformation™ methodology brings together industry expertise, <br>platform technology excellence, design innovation and <br>strategic engagement models to deliver sustained value to customers. </p>
  </section>
    <footer>
    <p> Author : God </p>
  </footer>
  </body>
</html>